.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80svw;
  margin: 0 auto;
  border: 1px solid;
  border-radius: .4rem;
  padding: 1svh;
}
