.synonyms {
  display: flex;
  list-style-type: none;
  flex-direction: column;
}

h3 {
  margin: 0;
  width: 80%;
  padding-bottom: .5svh;
  border-bottom: 1px solid;
}

.word-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80svw;
  margin: 0 auto;
  border: 1px solid;
  border-radius: .4rem;
  padding: 0 1svh;
}

.created-by {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

.bold-it {
  font-weight: 700
}

.word-start {
  display: flex;
  align-self: center;
  justify-content: center;
}

.error-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
